<% provide(:title, @user.email) %>
<div class="row">

  <div class="row">
    <aside class="span4">
        <%= render 'shared/user_info' %>
        <br>
        <br>
       <section>
        <%= render 'shared/question_form' %>
      </section>
    </aside>
  </div>

  <div class="span8">
    <% if @user.question.any? %>
      <h3>Preguntas (<%= @user.question.count %>)</h3>
        <%= will_paginate @question %>
      <ol class="questions">
        <%= render @question %>
      </ol>
   <% end %>
    <%= will_paginate @question %>
  </div>
</div>

